<a href="https://colab.research.google.com/github/suphalaksana/DWDM21/blob/main/Data101_(Chapter2).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

ข้อความที่อยู่ใน textbook จะเป็นภาษา markdown

ข้อดีหนึ่งของ python  คือมี package  สำหรับทำงานมากมากมาย  ซึ่ง pandas 

เป็น package สำหรับการทำงานกับข้อมูลที่อยู่ในรูปแบบตาราง โดย pandas 

จะเรียกตารางว่า dataframe

In [ ]:
import  pandas #ใช้ในการจัดการข้อมูลเเพ็คเกจนี้ ชื่อ pandas  #วิธีเรียกใช้ package คือ import ตามด้วยชื่อ package

In [ ]:
import pandas as pd  #เหมือนกับตัวข้างบนแต่ตั้งชื่อให้กับ package ที่โหลดมาใหม่ว่า pd

ไฟล์ .csv  (csv = comma separated  values)  เป็นไฟล์หลักที่เข้าจะใช้ในวิชานี้

เป็นไฟล์ที่เก็บข้อมูลแบบตาราง  คอมอ่านง่าย คนก็อ่านง่าย

##ตัวอย่าง

สร้างไฟล์  csv -- 
1.คลิกตรงไฟล์ทางซ้าย

2.กดคลิกขวาที่ว่างตรงทางซ้าย เลือก new file

3. เปลี่ยนชื่อไฟล์ ยังไม่ต้องใส่.csv

4. double click ที่ ไฟล์ทางซ้าย มันจะเด้งช่องทางขวาให้ใส่ข้อมูลที่เราจะสร้าง พอพิมพ์เสร็จกดกาช่องออกเลย

5.เปลี่ยนชื่อไฟล์ทางซ้าย ใส่.csv

In [ ]:
data_df = pd.read_csv('data.csv')

In [ ]:
data_df  #โหลดตารางเข้ามาใน memory ของ python

    name  age       city
0    Tom   27  Khon Kaen
1   Paul   15    Bangkok
2  Sarah   49     London

In [ ]:
data_df2 = pandas.read_csv('data.csv') #เหมือนกันกับข้างบน
data_df2

    name  age       city
0    Tom   27  Khon Kaen
1   Paul   15    Bangkok
2  Sarah   49     London

# Basic Python

##variable  ตัวแปร

ข้อกำหนดในการตั้งชื่อตัวแปร

1.ชื่อห้ามมีเว้นวรรค

2.(พยายาม)ใช้ภาษาอังกฤษ

3.ตัวเล็กกับตัวใหญ่แตกต่างกัน (case sensitive)

4.ห้ามใช้ตัวเลขเป็นตัวหน้า

In [ ]:
variable_a = 12    #ไม่มี quote
variable_b = 'abcde'  # เรียกว่า quote (โค้ด)  เป็น string หรือตัวหนังสือ
variable_c = variable_a   #ค่าตัวนี้ คือ 12

In [ ]:
variable_a

12

In [ ]:
variable_b

'abcde'

In [ ]:
variable_c  #รันค่าออกมาดู

12

In [ ]:
#ชื่อห้ามมีเว้นวรรค
variable a  = 6

SyntaxError: ignored

In [ ]:
#colab ใช้ภาษาไทยตั้งชื่อตัวแปรได้แต่ไม่ควรใช้
#(พยายาม)ใช้ภาษาอังกฤษ

ตัวแปร = 3
ตัวแปร

3

In [ ]:
#ตัวเล็กกับตัวใหญ่แตกต่างกัน (case sensitive)
v_a = 1
V_a =2 
print(v_a)
print(V_a)

1
2

In [ ]:
#ตัวเล็กกับตัวใหญ่แตกต่างกัน (case sensitive)
v_a = 1
v_a =2 
print(v_a)
print(v_a)

2
2

In [ ]:
#ห้ามใช้ตัวเลขเป็นตัวหน้า
variable = 1
print(variable)

1

In [ ]:
#ตัวอย่างการตั้งชื่อที่ถูก
variable_a = 12    #ไม่มี quote
variable_b = 'abcde'  # เรียกว่า quote (โค้ด)  เป็น string หรือตัวหนังสือ
variable_c = variable_a   #ค่าตัวนี้ คือ 12
variable_d = -41.2
variable_4 = "KKU"  # ""  เรียกว่า double quote

In [ ]:
variable_x =variable_c + variable_d  #นำตัวแปรมา + - * หาร กันได้
print(variable_x)

-29.200000000000003

In [ ]:
variable_a + variable_b #เอาตัวเลขไปบวกตัวหนังสือไม่ได้

TypeError: ignored

In [ ]:
print(variable_b + variable_4)  #ตัวหนังสือ+ ตัวหนังสือได้ string  เอามาต่อกัน

abcdeKKU

##Casting   int() float()  str()

เราสามารถเปลี่ยนชนิดของตัวแปรได้

In [ ]:
print(variable_x)
print(int(variable_x))  #ตัดทศนิยมออกให้เหลือจำนวนเต็ม

-29.200000000000003
-29

In [ ]:
v_x = str(variable_x)
print(v_x)

-29.200000000000003

In [ ]:
v_x + variable_a  #เราทำให้ v_x เป็น string เลยทำให้บวกกับตัวเลขไม่ได้

TypeError: ignored

In [ ]:
variable_a + v_x  #เหมือนกับข้างบน แต่โปรแกรมน่าจะอ่านค่าข้างหน้าก่อนว่าจะเอาไปบวกกับอะไร

TypeError: ignored

In [ ]:
v_x  #พิมพ์ชื่อตัวแปรธรรมดา จะแสดงว่าในmemory หน้าตาเป็นแบบนี้เลย มี quote

'-29.200000000000003'

In [ ]:
float(v_x)  #เปลี่ยนมาเป็นตัวเลข

-29.200000000000003

##Data structure

###list()  เอามาเรียงต่อกัน  ลำดับมีความสำคัญ

In [ ]:
list_a = [1,2,0.2,'abs,'] # square brackets
list_b = [2,'xyz',list_a,[1,2,0.0]]

In [ ]:
list_a

[1, 2, 0.2, 'abs,']

In [ ]:
list_b

[2, 'xyz', [1, 2, 0.2, 'abs,'], [1, 2, 0.0]]

In [ ]:
len(list_a)  #ดูว่ามีสมาชิกกี่ตัว

4

In [ ]:
len(list_b)

4

In [ ]:
list_b[3]  #ชี้สมาชิกตัวที่3  เริ่มนับจาก 0 ก่อน

[1, 2, 0.0]

In [ ]:
list_b[3][1]

2

string คือ list  ของตัวหนังสือ

In [ ]:
a = 'Stat KKU'

In [ ]:
a[4]

' '

##วิธีสร้าง list ว่าง

In [ ]:
list_c = list() #แบบที่ 1
list_d = []  #แบบที่ 2

In [ ]:
list_c

[]

In [ ]:
list_d

[]

เติมค่าลงไปใน list(.append())

In [ ]:
list_d.append('a')

In [ ]:
list_d

['a']

In [ ]:
list_d.append('56')

In [ ]:
list_d

['a', '56']

การชี้ค่าใน list (indexing)

1.ใช้ลำดับในการชี้

2.ลำดับเริ่มจาก 0 

3.สามารถชี้จากข้างหลังได้โดยใช้ negativeindex

In [ ]:
list_b

[2, 'xyz', [1, 2, 0.2, 'abs,'], [1, 2, 0.0]]

In [ ]:
list_b[-1]  #ชี้ตัวหลังสุด

[1, 2, 0.0]

##list slicing  การตัด list

In [ ]:
list_ex = [1,2,3,5,6,8,-1,20,50,0]

เราจะตัด list โดยเอาตั้งแต่ [ตัวหน้า:ตัวก่อนตัวหลัง]

ถ้าเป็นสัญลักษณ์คณิตศาสตร์ [ตัวหน้า:ตัวหลัง]->[ตัวหน้า:ตัวหลัง)

In [ ]:
list_ex[1:6] #เราจะตัด list โดยเอาตั้งแต่ [ตัวหน้า:ตัวก่อนตัวหลัง]

[2, 3, 5, 6, 8]

In [ ]:
list_ex[4:]  #เอาตั้งแต่ตัวที่ 4 ไปถึงตัวสุดท้าย

[6, 8, -1, 20, 50, 0]

In [ ]:
list_ex[:6]  #เอาตั้งแต่ตัวแรกไปถึงก่อนตัววที่ 6

[1, 2, 3, 5, 6, 8]

[จุดเริ่มต้น:จุดสุดท้าย:step]

In [ ]:
list_ex

[1, 2, 3, 5, 6, 8, -1, 20, 50, 0]

In [ ]:
list_ex[::2]  #โดดไปทีละ 2

[1, 3, 6, -1, 50]

In [ ]:
list_ex[::-1]  #การกลับ list

[0, 50, 20, -1, 8, 6, 5, 3, 2, 1]

In [ ]:
a

'Stat KKU'

In [ ]:
a[5:]

'KKU'

In [ ]:
a[5::]

'KKU'

In [ ]:
a[5:8]

'KKU'

In [ ]:
a[-3::1]

'KKU'

In [ ]:
a[-3::]

'KKU'

##list + list

In [ ]:
print(list_a)
print(list_b)

[1, 2, 0.2, 'abs,']
[2, 'xyz', [1, 2, 0.2, 'abs,'], [1, 2, 0.0]]

In [ ]:
list_a + list_b   #เอาstring มาเรียงต่อกัน

[1, 2, 0.2, 'abs,', 2, 'xyz', [1, 2, 0.2, 'abs,'], [1, 2, 0.0]]

format string

```python
f'string{ตัวแปร}' 
```
{} เรียกว่า curly brackets

In [ ]:
f'ตัวแปร list_a  มีค่าคือ {list_a}'

"ตัวแปร list_a  มีค่าคือ [1, 2, 0.2, 'abs,']"

#Loop

ทำงานซ้ำๆ หรือทำงานคล้ายๆกัน

indent  ตัวเว้น

```python
for ตัวแปรที่จะรับค่าจากลิสต์ in ลิสต์ที่จะนำมาวนลูป:
    do something  #in_loop
    do another thing #in_loop
do other things#out side loop
```

In [ ]:
for i in [1,2,3,4,5]:   #i คือ 1 2 3 4 5
    print(i+1)

2
3
4
5
6

In [ ]:
for x in [1,2,3,4,5]:
    print(f'ค่าตัวแปร x คือ {x} และ x+2={x+2}')

ค่าตัวแปร x คือ 1 และ x+2=3
ค่าตัวแปร x คือ 2 และ x+2=4
ค่าตัวแปร x คือ 3 และ x+2=5
ค่าตัวแปร x คือ 4 และ x+2=6
ค่าตัวแปร x คือ 5 และ x+2=7

In [ ]:
list5=[1,2,3,4,5]
for x in list5:
    print(f'ค่าตัวแปร x คือ {x} และ x+2={x+2}')

ค่าตัวแปร x คือ 1 และ x+2=3
ค่าตัวแปร x คือ 2 และ x+2=4
ค่าตัวแปร x คือ 3 และ x+2=5
ค่าตัวแปร x คือ 4 และ x+2=6
ค่าตัวแปร x คือ 5 และ x+2=7

In [ ]:
list(range(10)) #สร้างlistตั้งแต่ 0 ไม่ถึงเลข 10

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
for i in range(2,7): #จุดเริ่มต้น,จุดสุดท้าย
  print(i)

2
3
4
5
6

In [ ]:
for i in range(2,7,2):#จุดเริ่มต้น,จุดสุดท้าย,stepโดดทีละ 2
  print(i)

2
4
6

In [ ]:
for i in range(5):
    print('hahaha')  #วนลูปทำซ้ำ

hahaha
hahaha
hahaha
hahaha
hahaha

In [ ]:
for i in range(5):
    print('hahaha')
    x = i + 3
    print(f'i={i} x={x}')

hahaha
i=0 x=3
hahaha
i=1 x=4
hahaha
i=2 x=5
hahaha
i=3 x=6
hahaha
i=4 x=7

##Nested loop  ลูปซ้อนลูป

In [ ]:
for i in range(3):
    print(f'now i = {i}')
    print('start j loop')
    for j in range(4):
        print(f'i = {i} j = {j} i+j = {i+j}')
    print('end j loop')

now i = 0
start j loop
i = 0 j = 0 i+j = 0
i = 0 j = 1 i+j = 1
i = 0 j = 2 i+j = 2
i = 0 j = 3 i+j = 3
end j loop
now i = 1
start j loop
i = 1 j = 0 i+j = 1
i = 1 j = 1 i+j = 2
i = 1 j = 2 i+j = 3
i = 1 j = 3 i+j = 4
end j loop
now i = 2
start j loop
i = 2 j = 0 i+j = 2
i = 2 j = 1 i+j = 3
i = 2 j = 2 i+j = 4
i = 2 j = 3 i+j = 5
end j loop

#Condition เงื่อนไข

```python
if เงื่อนไขที่จะตรวจสอบ: (โดยใช้สัญลักษณ์ ==,!=,>,<,<=,>=):
  ถ้าเงื่อนไขเป็นจริง ทำงาน 1
  ถ้าเงื่อนไขเป็นจริง ทำงาน 2
elif เงื่อนไขที่จะตรวจสอบต่อไป
else #ตรวจสอบเงื่อนไขข้างบนแล้วไม่เป็นจริง
  ทำงานที่ x

```

In [ ]:
stringx = 'kgfjhgnfkgjfkghhfdjdlfjghhfkhghgjfhkjkgdfsghlkk'  #พิมพ์มั่ว อะไรก็ได้

if len(stringx) > 100:
  print(f'{stringx} is longer than 30 characters')
else:
  print(f'{stringx} in {len(stringx)} characters long')#ถ้าไม่เป็นจริงให้แสดงจำนวนตัวอักษร

kgfjhgnfkgjfkghhfdjdlfjghhfkhghgjfhkjkgdfsghlkk in 47 characters long

In [ ]:
password = '12345'

input_pass = '123sf'
if input_pass == password: #input ที่ใส่เข้ามาตรงกับ password มั้ย
  print('welcome!')#เข้ามาได้จะ welcome
elif len(input_pass) > len(password): #เช็คความยาวของรหัส
  print('Too long, try again')  #บอกใบ้ว่ารหัสที่ใส่มายาวไป
elif len(input_pass) < len(password):
  print('Too short, try again')#บอกใบ้ว่ารหัสที่ใส่มาสั้นไปไป
else:
  print('Wrong password, try again!')

Wrong password, try again!

Quiz 1 หา min

In [ ]:
list_ex = [1,5,9,-19,-2,0] #หาค่าน้อยที่สุดใน list_ex โดยไม่ใช้ function min ( commit ก่อน 10.30  : Quiz 1)

In [ ]:
list_ex[-3]#ผิดนะ555

-19

In [ ]:
min = 100000000 #ตั้งค่าน้อยสุดแบบปลอมๆ ให้ค่าเยอะๆไว้
for i in list_ex: #เข้าไปดูว่าตัวไหนน้อยสุด
  if i < min: 
    min = i #ดูว่าเลขแต่ละตัวน้อยกว่า min มั้ย ถ้าน้อยกว่า
print(min)

-19

In [ ]:
min = 100000000 
print(list_ex)
for i in list_ex: 
  print(f'now i = {i},  min = {min}')
  print('start condition')
  if i < min: 
    print('i >= min, update min -> {i}')
    
    min = i 
  else:
    print('i >= min, not update')
  print('end condition,go to next i')

print(min)

[1, 5, 9, -19, -2, 0]
now i = 1,  min = 100000000
start condition
i >= min, update min -> {i}
end condition,go to next i
now i = 5,  min = 1
start condition
i >= min, not update
end condition,go to next i
now i = 9,  min = 1
start condition
i >= min, not update
end condition,go to next i
now i = -19,  min = 1
start condition
i >= min, update min -> {i}
end condition,go to next i
now i = -2,  min = -19
start condition
i >= min, not update
end condition,go to next i
now i = 0,  min = -19
start condition
i >= min, not update
end condition,go to next i
-19

HW3 ตัดเกรด

In [1]:
score = [49,65,70,95,82,55,89,20,77,77,81,59,10] #การตัดเกรด คะแนนใน list score  ใช้ if , for

In [3]:
for i in score:  #เข้าไปดูใน score ก่อน

  if i >= 80:
    print(f'{i} คะแนน = เกรด A')
  elif i >= 75 and i < 80:
    print(f'{i} คะแนน = เกรด B+')
  elif i >= 70 and i < 75:
    print(f'{i} คะแนน = เกรด B')
  elif i >= 65 and i < 70:
    print(f'{i} คะแนน = เกรด C+')
  elif i >= 60 and i < 65:
    print(f'{i} คะแนน = เกรด C')
  elif i >= 55 and i < 60:
    print(f'{i} คะแนน = เกรด D+')
  elif i >= 50 and i < 55:
    print(f'{i} คะแนน = เกรด D')
  else:
    print(f'{i} คะแนน = เกรด F')

49 คะแนน = เกรด F
65 คะแนน = เกรด C+
70 คะแนน = เกรด B
95 คะแนน = เกรด A
82 คะแนน = เกรด A
55 คะแนน = เกรด D+
89 คะแนน = เกรด A
20 คะแนน = เกรด F
77 คะแนน = เกรด B+
77 คะแนน = เกรด B+
81 คะแนน = เกรด A
59 คะแนน = เกรด D+
10 คะแนน = เกรด F

###Function