<a href="https://colab.research.google.com/github/suphalaksana/DWDM21/blob/main/MiniExam.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### ข้อสอบ

จาก data ```flights.csv``` และ ```airports.csv``` ใน https://drive.google.com/drive/folders/1EFo1_uQgWkRiXjezL0T4YwteYrsqU5MV?usp=sharing
0. หารัฐที่มีจำนวนเครื่องบินขาเข้ามากที่สุดและน้อยที่สุด
1. หารัฐที่มีจำนวนเครื่องบินขาออกมากที่สุดและน้อยที่สุด
2. วาด Histogram แสดงจำนวนเครื่องบินขาออกของแต่ละวันในสัปดาห์
3. สายการบินไหนมีเที่ยวบินมากที่สุดและน้อยที่สุด
4. สายการบินอะไรมีความล่าช้ามากที่สุดและน้อยที่สุด
5. ช่วงเช้าหรือช่วงบ่ายมีเครื่องบินขาเข้ามากกว่ากัน

ให้นักศึกษาทำข้อสอบ 2 ข้อจากที่แสดงข้างบนโดยกรอกรหัสนักศึกษาลงใน function ```gen_exams()``` แล้ว run เพื่อให้ได้ข้อสอบที่นักศึกษาต้องทำ 2 ข้อ (ข้อละ 3 คะแนน)
และให้นักศึกษาคิดโจทย์เองอีก 1 ข้อ (4 คะแนน)

In [1]:
import pandas as pd

In [2]:
from google.colab import drive 
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
import os

In [5]:
flights = pd.read_csv('/content/drive/MyDrive/DWDM2021_DATA/Miniexam/flights.csv')
flights

         วันในเดือน  วันในสัปดาห์  ... ความล่าช้าขาออก  ความล่าช้าขาเข้า
0                19             5  ...              -3                 1
1                19             5  ...               0                -8
2                19             5  ...              -4               -15
3                19             5  ...              28                24
4                19             5  ...              -6               -11
...             ...           ...  ...             ...               ...
2702213          19             6  ...               1                -3
2702214          19             6  ...              -2                -3
2702215          19             6  ...              18                 9
2702216          19             6  ...              10                 7
2702217          19             6  ...               0               -13

[2702218 rows x 7 columns]

In [6]:
airports = pd.read_csv('/content/drive/MyDrive/DWDM2021_DATA/Miniexam/airports.csv')
airports

     รหัสสนามบิน         เมือง รัฐ                          ชื่อสนามบิน
0          10165   Adak Island  AK                                 Adak
1          10299     Anchorage  AK  Ted Stevens Anchorage International
2          10304         Aniak  AK                        Aniak Airport
3          10754        Barrow  AK      Wiley Post/Will Rogers Memorial
4          10551        Bethel  AK                       Bethel Airport
..           ...           ...  ..                                  ...
360        11233      Cheyenne  WY  Cheyenne Regional/Jerry Olson Field
361        11097          Cody  WY                 Yellowstone Regional
362        11865      Gillette  WY             Gillette Campbell County
363        12441       Jackson  WY                         Jackson Hole
364        14543  Rock Springs  WY       Rock Springs Sweetwater County

[365 rows x 4 columns]

In [8]:
def gen_exams(ID):
    import math
    a = int(ID[-1])%6
    b = int(ID[-1])%3
    print(f'รหัสนักศึกษา {ID} ทำข้อ {a} และ {b if a != b else 5-b}')

ตัวอย่างการ run

In [9]:
gen_exams('623020540-4')

รหัสนักศึกษา 623020540-4 ทำข้อ 4 และ 1

##Missing Values



*   NaN = Not a Number
*   Null




*   NA = Not Avaliable

In [11]:
flights.isnull()  #false คือค่าที่ไม่ใช่ช่องว่าง  #ไม่มีค่าว่าง

         วันในเดือน  วันในสัปดาห์  ...  ความล่าช้าขาออก  ความล่าช้าขาเข้า
0             False         False  ...            False             False
1             False         False  ...            False             False
2             False         False  ...            False             False
3             False         False  ...            False             False
4             False         False  ...            False             False
...             ...           ...  ...              ...               ...
2702213       False         False  ...            False             False
2702214       False         False  ...            False             False
2702215       False         False  ...            False             False
2702216       False         False  ...            False             False
2702217       False         False  ...            False             False

[2702218 rows x 7 columns]

In [10]:
airports.isnull()  #false คือค่าที่ไม่ใช่ช่องว่าง  #ไม่มีค่าว่าง

     รหัสสนามบิน  เมือง    รัฐ  ชื่อสนามบิน
0          False  False  False        False
1          False  False  False        False
2          False  False  False        False
3          False  False  False        False
4          False  False  False        False
..           ...    ...    ...          ...
360        False  False  False        False
361        False  False  False        False
362        False  False  False        False
363        False  False  False        False
364        False  False  False        False

[365 rows x 4 columns]

จากการหา Missing พบว่า ไม่มีค่าว่างเลย เนื่องจากทุกค่าเป็น False

##1. หารัฐที่มีจำนวนเครื่องบินขาออกมากที่สุดและน้อยที่สุด

###merged 2 ตาราง เข้าด้วยกัน

In [12]:
merged_table = flights.merge(airports,how='left',left_on='รหัสสนามบินต้นทาง',right_on='รหัสสนามบิน')   #how เอาตารางไหนเป็นตารางหลัก  ,left = index ของตารางด้านซ้ายคืออะไร
merged_table

         วันในเดือน  ...                                 ชื่อสนามบิน
0                19  ...                  Detroit Metro Wayne County
1                19  ...                Salt Lake City International
2                19  ...                      Portland International
3                19  ...             Lambert-St. Louis International
4                19  ...  Cincinnati/Northern Kentucky International
...             ...  ...                                         ...
2702213          19  ...                       Orlando International
2702214          19  ...    Hartsfield-Jackson Atlanta International
2702215          19  ...           Albuquerque International Sunport
2702216          19  ...    Hartsfield-Jackson Atlanta International
2702217          19  ...    Hartsfield-Jackson Atlanta International

[2702218 rows x 11 columns]

In [28]:
Max_1 = merged_table.sort_values(by=['รัฐ'],ascending=False)
Max_1.iloc[:1,[3,9]]

         รหัสสนามบินต้นทาง รัฐ
1451204              13342  WI

In [30]:
Min_1 = merged_table.sort_values(by=['รัฐ'],ascending=True)
Min_1.iloc[:1,[3,9]]

         รหัสสนามบินต้นทาง รัฐ
2081988              10299  AK



รัฐที่มีจำนวนเครื่องบินขาออกมากที่สุดคือ WI

รัฐที่มีจำนวนเครื่องบินขาออกน้อยที่สุดคือ AK

##4. สายการบินอะไรมีความล่าช้ามากที่สุดและน้อยที่สุด

In [36]:
Max_2 = merged_table.sort_values(by=['ความล่าช้าขาออก'],ascending=False)
Max_2.iloc[:1,[2,5]]

        สายการบิน  ความล่าช้าขาออก
2632902        AA             1863

In [37]:
Min_2 = merged_table.sort_values(by=['ความล่าช้าขาออก'],ascending=True)
Min_2.iloc[:1,[2,5]]

        สายการบิน  ความล่าช้าขาออก
2576772        F9              -63

In [66]:
Max2 = merged_table.sort_values(by=['ความล่าช้าขาเข้า'],ascending=False)
Max2.iloc[:1,[2,6]]

        สายการบิน  ความล่าช้าขาเข้า
1230689        HA              1845

In [68]:
Min2 = merged_table.sort_values(by=['ความล่าช้าขาเข้า'],ascending=True)
Min2.iloc[:1,[2,6]]

       สายการบิน  ความล่าช้าขาเข้า
666915        YV               -94

-ขาออก

สายการบินอะไรมีความล่าช้ามากที่สุด คือ AA

สายการบินอะไรมีความล่าช้าน้อยที่สุด คือ F9

-ขาเข้า

สายการบินอะไรมีความล่าช้ามากที่สุด คือ HA

สายการบินอะไรมีความล่าช้าน้อยที่สุด คือ YV

##โจทย์คิดเอง
##สายการบิน ใด บินไปยังเมือง  Orlando มากที่สุด 2 อันดับแรก

In [58]:
data = merged_table[merged_table['รหัสสนามบิน']==13204]
data

         วันในเดือน  วันในสัปดาห์ สายการบิน  ...    เมือง  รัฐ            ชื่อสนามบิน
19               19             5        DL  ...  Orlando   FL  Orlando International
69               20             6        DL  ...  Orlando   FL  Orlando International
141              18             4        DL  ...  Orlando   FL  Orlando International
151              18             4        DL  ...  Orlando   FL  Orlando International
153              18             4        DL  ...  Orlando   FL  Orlando International
...             ...           ...       ...  ...      ...  ...                    ...
2702130          18             5        DL  ...  Orlando   FL  Orlando International
2702133          18             5        DL  ...  Orlando   FL  Orlando International
2702153          19             6        DL  ...  Orlando   FL  Orlando International
2702158          19             6        DL  ...  Orlando   FL  Orlando International
2702213          19             6        DL  ...  Orlando   FL  Orlando International

[58983 rows x 11 columns]

In [64]:
Max_3 = data.sort_values(by=['เมือง'],ascending=False)
Max_3.iloc[:2,[2,8]]

        สายการบิน    เมือง
19             DL  Orlando
1699661        UA  Orlando

สายการบินที่บินไปยังเมือง  Orlando มากที่สุด 2 อันดับแรก คือ

1.สายการบิน DL

2.สายการบิน UA